<div class="container" *ngIf="profile !== undefined">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ml-auto"><a href="users"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
        </ol>
	</nav>
    <h1 class="title-pen"> User <span>Profile</span></h1>
    <div class="user-profile">
        <img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
        <div class="username">{{ profile.name }}</div>
    <div class="bio">
        Senior UI Designer
    </div>
        <div class="description">
        I use to design websites and applications
        for the web.
    </div>
    <div class="contacts">
       <small>{{ profile.email }}</small>
    </div>
    <ul class="data">
        <li>
        <span class="entypo-book"> 2</span>
        </li>
        <li>
        <span class="entypo-star"> 3</span>
        </li>
        <li>
        <span class="entypo-user"> 11</span>
        </li>
    </ul>
    </div>
</div>